.headerSection{
  height: 100vh;
  width: 100vw;
  color: #fff;
  .header{
    width: 74.5%;
    margin:0 auto;
  }
  // ----------------NAV-------------------------- 
  .navBar{
    left: 53px;
    &-left{
      display: flex;
      justify-content: space-between;
      width: 46%;
      .filter{
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        height: 36px;
        border-radius: 18px;
        border: 1px solid #fff;
        padding: 0 15px;
        font-size: 1.6rem;
      }
      .filterBy{
        width: 33.5%;
        background: #fff;
        color: #E8093F;
        font-weight: bold;
      }
      .popularity{
        width: 16.2%;
      }
      .date{
        width: 11%;
      }
      .name{
        width: 6%;
      }
    }
    &-right{

    }
  }
  
  //---------------TITLE ----------------------
  .coverTitle{
    color: #fff;
    font-size: 10rem;
    font-family: "Abril Fatface", sans-serif;
    text-transform: uppercase;
    padding-top: 200px;
    width: 42%;
  }
  .preBiography{
    font-size: 1.8rem;
    padding: 5.1rem 0;
  }
  .biography{
    font-size: 1.8rem;
    line-height: 3.1rem;
  }
}
