.posterContainer{
  margin: 0 auto;
  width: 66.94%;
  height: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;

  &-item{
    width:20.75%;
    height: 300px;
    background: #29253a;
    z-index: 1;
    cursor: pointer;
  &-title{

  }


  }
}

.is-hidden{
  display: none;
}