.navBar{
  padding: 50px 50px 0 50px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  margin-left:auto;
  margin-right:auto;
  left:0;
  right:0;
  top: 0;
  z-index: 1;
  &-left {
    display: flex;
    justify-content: space-around;
    .navLogo{
      cursor: pointer;
    }
    .filters{
      display: flex;
      margin-left: 80px;

      .filter{
        width: 160px;
        height: 36px;
        border-radius: 100px;
        font-family: AvenirNextCondensed-DemiBold, sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #FFFFFF;
        line-height: 36px;
        padding: 0 20px;
        background-image: linear-gradient(45deg, #4d46ff 0%, #e8083f 100%);
        cursor: pointer;
        &-by{
          margin-left: 20px;
          border: solid 1px white;
          border-radius: 100px;
          font-family: AvenirNextCondensed-DemiBold, sans-serif;
          font-size: 16px;
          font-weight: 100;
          line-height: 36px;
          padding: 0 20px;
          color: #FFFFFF;
          cursor: pointer;
          display:none;
        }
        .active{
          display: block;
        }
        }

    }
  }
  &-right{
    cursor: pointer;
   .navRec{
     position: relative;
     width: 21px;
     height: 31px;
     margin-top: -10px;
     &-item{
       width: 20px;
       height: 20px;
       border-radius:50%;
       background: #000;
       border: 1px solid #000;
       position: absolute;
       transition: 0.4s ease;
     }
     &-item:nth-child(2){
       background: none;
       margin: 10px 0 0 10px;
     }
   }
    .navRec:hover{
      .navRec-item:nth-child(1){
        margin:10px 0 0 10px;
        transition: 0.4s ease;
      }
    }
    .navRecRadius{
      border-radius: 0;
      width: 13px;
    }
    .navRecRadius:nth-child(1){
      margin: 0;
  }
}
}
