.navBar{
  padding: 50px 50px 0 50px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  &-left {
    .navLogo{
      cursor: pointer;
    }
  }
  &-right{
    cursor: pointer;
   .navRec{
     position: relative;
     width: 21px;
     height: 31px;
     margin-top: -10px;
     &-item{
       width: 13px;
       height: 20px;
       background: #000;
       border: 1px solid #000;
       position: absolute;
       transition: 0.4s ease;
     }
     &-item:nth-child(2){
       background: none;
       margin: 10px 0 0 7px;
     }
   }
    .navRec:hover{
      .navRec-item:nth-child(1){
        margin:10px 0 0 7px;
        transition: 0.4s ease;
      }
    }
    .navRecRadius{
      border-radius:50%;
      width: 20px;
    }
    .navRecRadius:nth-child(1){
      margin: 0;
  }
}
}
