/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

.navBar {
  padding: 50px 50px 0 50px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 92%;
  top: 0;
  z-index: 1; }
  .navBar-left {
    display: flex;
    justify-content: space-around; }
    .navBar-left .navLogo {
      cursor: pointer; }
    .navBar-left .filters {
      display: flex;
      margin-left: 80px; }
      .navBar-left .filters .filter {
        width: 160px;
        height: 36px;
        border-radius: 100px;
        font-family: AvenirNextCondensed-DemiBold, sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #FFFFFF;
        line-height: 36px;
        padding: 0 20px;
        background-image: linear-gradient(45deg, #4d46ff 0%, #e8083f 100%);
        cursor: pointer; }
        .navBar-left .filters .filter-by {
          margin-left: 20px;
          border: solid 1px white;
          border-radius: 100px;
          font-family: AvenirNextCondensed-DemiBold, sans-serif;
          font-size: 16px;
          font-weight: 100;
          line-height: 36px;
          padding: 0 20px;
          color: #FFFFFF;
          cursor: pointer;
          display: none; }
        .navBar-left .filters .filter .active {
          display: block; }
  .navBar-right {
    cursor: pointer; }
    .navBar-right .navRec {
      position: relative;
      width: 21px;
      height: 31px;
      margin-top: -10px; }
      .navBar-right .navRec-item {
        width: 13px;
        height: 20px;
        background: #000;
        border: 1px solid #000;
        position: absolute;
        transition: 0.4s ease; }
      .navBar-right .navRec-item:nth-child(2) {
        background: none;
        margin: 10px 0 0 7px; }
    .navBar-right .navRec:hover .navRec-item:nth-child(1) {
      margin: 10px 0 0 7px;
      transition: 0.4s ease; }
    .navBar-right .navRecRadius {
      border-radius: 50%;
      width: 20px; }
    .navBar-right .navRecRadius:nth-child(1) {
      margin: 0; }

.bgCircles {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 190vh;
  overflow: hidden; }
  .bgCircles .circleItem {
    position: absolute;
    border-radius: 50%;
    -webkit-box-shadow: inset 0px 0px 41px -12px black;
    -moz-box-shadow: inset 0px 0px 41px -12px black;
    box-shadow: inset 0px 0px 41px -12px black; }

.posterContainer {
  margin: 0 auto;
  width: 66.94%;
  height: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .posterContainer-item {
    width: 20.75%;
    height: 360px;
    z-index: 1;
    cursor: pointer;
    display: flex;
    flex-direction: column; }
  .posterContainer-img {
    width: 100%;
    height: 300px;
    background: #4236ff;
    z-index: 1;
    cursor: pointer; }
  .posterContainer-title {
    color: white;
    margin-top: 15px;
    font-family: 'Avenir Next Condensed', sans-serif;
    font-weight: 600;
    font-size: 16px; }
  .posterContainer-date {
    color: white;
    margin-top: 2px;
    font-family: 'Avenir Next Condensed', sans-serif;
    font-weight: 400;
    font-size: 16px; }

.is-hidden {
  display: none; }

.header {
  height: 825px; }

html {
  font-size: 16px;
  width: 100%; }

.main {
  background: #E8083F; }

/*# sourceMappingURL=main.css.map */
