@import "./global/reset";

@import "./mixins/forSize";

@import "./components/nav";
@import "./components/bgCircles";
@import "./components/moviePoster";


@import "./components/HeaderCompoCard";
@import "./components/SectionCompoCard";



html {
  font-size: 62.5%;
  width: 100%;
}
body{
  font-family: 'Avenir Next Condensed', sans-serif;
}
.page{
  background: #E8083F;
}







